<%- contentFor('content') %>

<h1>Form</h1>

<form method="POST" action="/docx/form">
    <div class="form-row">
        <div class="col-7">
            <input type="text" class="form-control" class="form-control" id="fname1" name="fname1" placeholder="fname1">
        </div>
        <div class="col">
            <input type="text" class="form-control"class="form-control" id="qno1" name="qno1" placeholder="qno1" >
        </div>
        <div class="col">
            <input type="text" class="form-control"class="form-control" id="mark1_1" name="mark1_1" placeholder="mark1_1" >
        </div>
        <div class="col">
            <input type="text" class="form-control"class="form-control" id="mark1_2" name="mark1_2" placeholder="mark1_2" >
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="col-7">
            <input type="text" class="form-control"class="form-control" id="fname2" name="fname2" placeholder="fname2" >
        </div>
        <div class="col">
            <input type="text" class="form-control"class="form-control" id="qno2" name="qno2" placeholder="qno2" >
        </div>
        <div class="col">
            <input type="text" class="form-control"class="form-control" id="mark2_1" name="mark2_1" placeholder="mark2_1" >
        </div>
        <div class="col">
            <input type="text" class="form-control"class="form-control" id="mark2_2" name="mark2_2" placeholder="mark2_2" >
        </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>