<%- contentFor('content') %>

<h1>Form</h1>

<div class="container">
    <form method="POST" action="/docx/form">
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control" class="form-control" id="fname1" name="fname1" placeholder="pc20f0001" value="pc20f0001" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno1" name="qno1" placeholder="qno1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark1_1" name="mark1_1" placeholder="mark1_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark1_2" name="mark1_2" placeholder="mark1_2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control"class="form-control" id="fname2" name="fname2" placeholder="pc20f0002" value="pc20f0002" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno2" name="qno2" placeholder="qno2" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark2_1" name="mark2_1" placeholder="mark2_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark2_2" name="mark2_2" placeholder="mark2_2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control"class="form-control" id="fname3" name="fname3" placeholder="pc20f0003" value="pc20f0003" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno3" name="qno3" placeholder="qno3" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark3_1" name="mark3_1" placeholder="mark3_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark3_2" name="mark3_2" placeholder="mark3_2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control"class="form-control" id="fname4" name="fname4" placeholder="pc20f0004" value="pc20f0004" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno4" name="qno4" placeholder="qno4" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark4_1" name="mark4_1" placeholder="mark4_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark4_2" name="mark4_2" placeholder="mark4_2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control"class="form-control" id="fname5" name="fname5" placeholder="pc20f0005" value="pc20f0005" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno5" name="qno5" placeholder="qno5" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark5_1" name="mark5_1" placeholder="mark5_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark5_2" name="mark5_2" placeholder="mark5_2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control"class="form-control" id="fname6" name="fname6" placeholder="pc20f0006" value="pc20f0006" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno6" name="qno6" placeholder="qno6" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark6_1" name="mark6_1" placeholder="mark6_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark6_2" name="mark6_2" placeholder="mark6_2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control"class="form-control" id="fname7" name="fname7" placeholder="pc20f0007" value="pc20f0007" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno7" name="qno7" placeholder="qno7" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark7_1" name="mark7_1" placeholder="mark7_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark7_2" name="mark7_2" placeholder="mark7_2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control"class="form-control" id="fname8" name="fname8" placeholder="pc20f0008" value="pc20f0008" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno8" name="qno8" placeholder="qno8" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark8_1" name="mark8_1" placeholder="mark8_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark8_2" name="mark8_2" placeholder="mark8_2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control"class="form-control" id="fname9" name="fname9" placeholder="pc20f0009" value="pc20f0009" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno9" name="qno9" placeholder="qno9" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark9_1" name="mark9_1" placeholder="mark9_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark9_2" name="mark9_2" placeholder="mark9_2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control"class="form-control" id="fname10" name="fname10" placeholder="pc20f0010" value="pc20f0010" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="qno10" name="qno10" placeholder="qno10" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark10_1" name="mark10_1" placeholder="mark10_1" >
                </div>
                <div class="col">
                    <input type="text" class="form-control"class="form-control" id="mark10_2" name="mark10_2" placeholder="mark10_2" >
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
<script>
    
    $(".row").sortable({
        cancel: null,
        connectWith: ['.row']
    });

</script>